<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.zhangkai.week2.demo.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.zhangkai.week3.demo.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JDBCServlet</servlet-name>
        <servlet-class>com.zhangkai.week6.demo.JDBCServlet</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:sqlserver://localhost:1433;DatabaseName=userdb</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>ZK</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>103996827zk</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JDBCServlet</servlet-name>
        <url-pattern>/JDBCServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;DatabaseName=userdb</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>ZK</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>103996827zk</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ZhangkaiFilter</filter-name>
        <filter-class>com.lab2.ZhangkaiFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ZhangkaiFilter</filter-name>
        <url-pattern>/lab2/welcome.jsp</url-pattern>
    </filter-mapping>
</web-app>